<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Payment Transaction - Blood Bank Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body class="text-center bg-light">

    <div class="container">
        <h1 class="text-danger mt-5">Add Payment Transaction</h1>

        <form method="POST" action="{{ url_for('add_payment_transaction') }}">
            <div class="mb-3">
                <label for="rec_id" class="form-label">Recipient ID</label>
                <input type="number" class="form-control" id="rec_id" name="rec_id" required>
            </div>

            <div class="mb-3">
                <label for="payment_amt" class="form-label">Payment Amount</label>
                <input type="number" class="form-control" id="payment_amt" name="payment_amt" required>
            </div>

            <button type="submit" class="btn btn-danger">Add Payment Transaction</button>
        </form>
    </div>

    

</body>
</html>
