<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Blood</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <style>
        .top-left {
            position: absolute;
            top: 30px;
            left: 30px;
        }
    </style>
</head>
<body class="text-center bg-light">
    <div class="container">
        <h1 class="text-danger mt-5">View Blood</h1>
        <a href="{{ url_for('user_dashboard') }}" class="top-left">
            <img src="{{ url_for('static', filename='home.png') }}" alt="Home" style="width: 60px; height: 60px; ">
        </a>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th scope="col">Blood Type</th>
                    <th scope="col">Blood Amount (ml)</th>
                </tr>
            </thead>
            <tbody>
                {% for row in blood_data %}
                    <tr>
                        <td>{{ row.blood_type }}</td>
                        <td>{{ row.blood_amount }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Add Bootstrap JS and Popper.js (if needed) here if you use Bootstrap components that require them -->
</body>
</html>
